<div class="container mt-4 mb-5" style="background-color: #006895; padding-top:8px; padding-bottom:8px; border-radius:8px;">

  <div class="confirmation">
    <h1>Thank you for booking !</h1>
    <h2>We look forward to welcoming you to <%= @booking.country.name %></h2>
    <div class="booking-details"> <!-- Booking details -->
      <div class="dateinfo">
        <p id="checkin"><strong>Check-in:</strong> <%= @booking.start_date %></p>
        <p><strong>Check-out:</strong> <%= @booking.end_date %></p>
        <p id="nights"> Number of nights: <%= @booking.nights %></p>
      </div>
      <div class="priceinfo">
        <p id="pricenight"><strong>Price per night:</strong> <%= number_to_currency(@booking.country.price, unit: "£", separator: ",", delimiter: ".") %></p>
        <p><strong>Total Price:</strong> <%= number_to_currency(@booking.total_price, unit: "£", separator: ",", delimiter: ".")%></p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center gx-5 mt-4 mb-4">
    <!-- Carrousel images -->
    <div class="col">
      <%= render "shared/carousel" %>
     </div>


  <!-- Map View -->
  <div class="d-flex justify-content-center mt-4">
    <div class="col-md-9" id="map-show-booking"
     data-controller="map"
     data-map-markers-value="<%= [@markers].to_json %>"
     data-map-api-key-value="<%= ENV['pk.eyJ1IjoibWlnejIyMDUiLCJhIjoiY21hemc4ZzJiMGJzcjJsc2Fxdm83MDdweiJ9.yu0zSvl3tEeW55Rw9wjFjA'] %>"
     style="width: 65%; height: 400px;">
    </div>
    <div class="col-md-3" id="countrydetails"> <!-- Country details -->
      <h2>Country Details</h2>
      <p><strong>Name:</strong> <%= @booking.country.name %></p>
      <p><strong>Capital City:</strong> <%= @booking.country.capital_city %></p>
      <p><strong>Description:</strong> <%= @booking.country.description %></p>
      <p><strong>Main Language:</strong> <%= @booking.country.main_language %></p>
      <p><strong>Capital City:</strong> <%= @booking.country.capital_city %></p>
    </div>
  </div>
  <div style="margin-top:25px;">
    <%= link_to "Back to Countries", countries_path, class: "btn btn-secondary" %>
  </div>

</div>
