<div class="container">

  <%= simple_form_for (country) do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :tag_line %>
  <%= f.input :description %>
  <%= f.input :main_language %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
<%= link_to "Cancel", countries_path, class:"btn btn-danger"%>

</div>

  </div>
