<div class="container mt-4">
  <div class="country-info, fluid mx-auto d-block w-50">
    <img src="https://uniqsurface.com/wp-content/uploads/2022/05/uniq-surface-paragliding-map-awesome-maps_800x600.jpg", class="mb-4">
    <h1> <%= @country.name %></h1>
    <h3> <%= @country.tag_line %> </h3>
    <p> Price: <%= @country.price %> / night</p>
    <p> Description: <%= @country.description %></p>
    <p> Main language: <%= @country.main_language %> </p>

   <div class="mt-4">
    <%= simple_form_for [@country, @booking] do |f| %>
    <%= f.input :start_date, as: :hidden, input_html: { id: "start-date" } %>
    <%= f.input :end_date, as: :hidden, input_html: { id: "end-date" } %>

    <div data-controller="daterange">
      <input type="text"
             data-daterange-target="input"
             class="form-control"
             placeholder="Select a date range" />
    <%= f.button :submit, "Book now", class: "btn btn-primary mt-4"%>
    </div>
  <% end %>
  </div>
  </div>
</div>
